{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "strict": [2, "global"],
    "eqeqeq": [2, "smart"],
    "space-after-keywords": 2,
    "no-console": 1,
    "no-alert": 1,
    "consistent-this": [2, "self"],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "new-cap": [2, {
      "capIsNewExceptions": ["DragSource", "DropTarget", "DragDropContext", "DragLayer"]
    }],
    "indent": [2, 2, {"SwitchCase": 1, "VariableDeclarator": 2}]
  }
}
